@import url("https://fonts.googleapis.com/css?family=Roboto");
@import '../auth-page/auth-page.scss';

.login-form {
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;

    &__button {
        margin-top: 10px;

        &_email {
            @include primary-button;
        }
    }
    &__field {
        margin: 10px 0;
    }
}
