@import url("https://fonts.googleapis.com/css?family=Roboto");

.login-form {
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;

    &__submit {
        margin-top: 10px;
    }
}
