@import url("https://fonts.googleapis.com/css?family=Roboto");

.modal-login {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.3);

    font-family: "Roboto", sans-serif;

    align-items: center;
    justify-content: center;

    &__inner {
        position: relative;

        display: flex;

        min-width: 450px;
        min-height: 300px;
        margin: 1rem;
        padding: 20px;

        border-radius: 2px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

        flex-flow: column nowrap;
        justify-self: center;
        &-form {
            display: flex;

            flex-flow: column nowrap;
            justify-content: center;
            &-input {
                margin: 10px 0;
                padding: 10px 5%;

                border: 1px solid rgb(146, 146, 146);
                border-radius: 4px;
                outline: none;

                font: 400 1em/0.5em "Roboto";
            }
        }
        &-separator {
            position: relative;

            display: inline-block;

            text-align: center;

            color: rgb(128, 128, 128);
            &::before,
            &::after {
                position: absolute;
                top: 50%;

                width: 45%;
                height: 5px;

                content: "";

                border-top: 1px solid rgb(180, 180, 180);
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
        &-button {
            margin: 8px 0;
            padding: 18px 0;

            cursor: pointer;

            border: 0;
            border-radius: 5px;
            outline: none;

            font: 600 1em/0.5em "Roboto";
            &-icon {
                height: 20px;

                color: white;
            }
            &_google {
                color: rgb(72, 72, 72);
                border: 2px solid rgb(43, 40, 40);
                background-color: white;
                &:active {
                    transition: 0.25s;

                    background-color: rgb(221, 219, 219);
                }
            }

            &_email {
                transition: 0.25s;

                color: white;
                border: 2px solid rgb(255, 90, 95);
                background-color: rgb(255, 90, 95);
                &:active {
                    transition: 0.25s;

                    border: 2px solid rgb(214, 70, 75);
                    background-color: rgb(214, 70, 75);
                }
            }

            &_close {
                background-color: transparent;
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;

                    padding: 5px;

                    content: "X";
                }
            }
        }
    }
}
