@import url("https://fonts.googleapis.com/css?family=Roboto");

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    min-width: 450px;
    min-height: 280px;

    text-align: center;

    background-color: rgba(255, 255, 255, 0.836);

    font-family: "Roboto", sans-serif;

    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 515px) {
        min-width: auto;
        min-height: auto;

        .modal__inner {
            position: static;

            width: 100%;
            min-width: 0;
        }
    }

    &__inner {
        position: relative;

        display: flex;

        min-width: 450px;
        min-height: 280px;
        margin: 1rem;
        padding: 20px;

        border-radius: 2px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

        flex-flow: column nowrap;
        justify-content: space-around;
        justify-self: center;
    }

    &__inner-button {
        &_close {
            margin-bottom: 10px;

            background-color: white;
            box-shadow: none;

            &:active {
                transition: 0.25s;

                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }
}
