@import url("https://fonts.googleapis.com/css?family=Roboto");

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.3);

    font-family: "Roboto", sans-serif;

    align-items: center;
    justify-content: center;

    &__inner {
        position: relative;

        display: flex;

        min-width: 450px;
        min-height: 280px;
        margin: 1rem;
        padding: 20px;

        border-radius: 2px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

        flex-flow: column nowrap;
        justify-content: space-between;
        justify-self: center;
    }
}
