@import url('https://fonts.googleapis.com/css?family=Roboto');

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.3);

    font-family: 'Roboto', sans-serif;

    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 515px) {
        .modal__inner {
            position: static;

            width: 100%;
            min-width: 0;
        }
    }

    &__inner {
        position: relative;

        display: flex;

        min-width: 450px;
        min-height: 280px;
        margin: 1rem;
        padding: 20px;

        border-radius: 2px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

        flex-flow: column nowrap;
        justify-content: space-between;
        justify-self: center;
    }

    &__inner-button {
        &_close {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
            padding: 0;

            cursor: pointer;
            transition: 0.25s;

            border-radius: 50%;
            background-color: white;

            &:active {
                transition: 0.25s;

                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

@mixin separator {
    position: relative;

    display: inline-block;

    margin: 15px 0;

    text-align: center;

    color: rgb(128, 128, 128);
    &::before,
    &::after {
        position: absolute;
        top: 50%;

        width: 45%;
        height: 5px;

        content: '';

        border-top: 1px solid rgb(216, 216, 216);
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

@mixin underliner {
    position: relative;

    display: inline-block;

    margin: 15px 0;

    text-align: center;

    color: rgb(216, 216, 216);

    &::before,
    &::after {
        position: absolute;
        top: 50%;

        width: 50%;
        height: 5px;

        content: '';

        border-top: 1px solid rgb(180, 180, 180);
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

@mixin switch {
    display: inline;

    cursor: pointer;

    color: #008489;

    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}
