@import url("https://fonts.googleapis.com/css?family=Roboto");

.modal {
    @media only screen and (max-width: 515px) {
       // position: static;
        .modal__inner {
            position: static;
            min-width: 0;
            width: 100%;
        }
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    text-align: center;

    background-color: rgba(0, 0, 0, 0.3);

    font-family: "Roboto", sans-serif;

    align-items: center;
    justify-content: center;

    &__inner {
        position: relative;

        display: flex;

        min-width: 450px;
        min-height: 280px;
        margin: 1rem;
        padding: 20px;

        border-radius: 2px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

        flex-flow: column nowrap;
        justify-content: space-between;
        justify-self: center;
    }

    &__inner-button {
        &_close {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
            padding: 0;

            cursor: pointer;
            transition: 0.25s;

            border-radius: 50%;
            background-color: white;

            &:active {
                transition: 0.25s;

                box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }
}
