.filter-content {
    &__container {
        min-width: 250px;
        padding: 10px 25px;

        @media only screen and (max-width: 515px) {
            padding: 0;
        }
    }

    &__container-filter-wrapper {
        display: flex;

        margin: 10px 0;

        color: rgb(59, 59, 59);

        align-items: center;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__container-buttons {
        display: flex;

        padding-top: 10px;

        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__container-buttons-item {
        width: auto;
        padding: 0;

        font-size: 0.95em;
        font-weight: 600;
        &:first-of-type {
            color: black;
        }
    }
}
