.day-picker-filter {
    &__day {
        padding: 0.7em;

        border: 1px solid rgb(240, 239, 239);
        border-radius: 0;
    }

    &__months {
        flex-flow: row nowrap;
        @media only screen and (max-width: 715px) {
            margin: 0;

            flex-flow: column nowrap;
        }
    }

    &__month {
        @media only screen and (max-width: 515px) {
            margin: 5px 0;
        }
    }

    &:not(&_interaction-disabled) &__day:not(&__day_disabled):not(&__day_selected):not(&__day_outside):hover {
        background-color: #0aa9d128;
    }

    &__day_selected:not(&__day_disabled):not(&__day_outside) {
        color: white;
        background-color: #007883;
        &:hover {
            color: white;
            background-color: #007883;
        }
    }
}
