.hotel-page {
    &__loader {
        display: flex;

        justify-content: center;
    }

    &__booking {
        position: sticky;
        z-index: 3;
        bottom: 0;

        display: flex;

        width: 100%;
        height: 80px;

        background: rgb(255, 255, 255);
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14);

        justify-content: flex-end;
    }

    &__booking-price {
        margin: auto 0;

        font: 500 1em "Roboto", sans-serif;
    }

    &__booking-price-range {
        color: rgb(53, 53, 53);
    }

    &__booking-price-time-unit {
        color: rgb(102, 102, 102);
    }

    &__booking-button {
        width: 130px;
        margin: auto 15px;

        justify-self: flex-end;
    }
}
