.user-bookings {
    font-size: 0.9em;
    font-weight: 600;

    &__container {
        display: flex;

        padding: 10px;

        flex-flow: row wrap;
    }

    &__header {
        display: block;

        padding: 10px 20px;

        color: rgb(63, 62, 62);

        font: 500 2.5em "Roboto", sans-serif;
    }

    &__container-item {
        position: relative;

        display: flex;

        max-width: 750px;
        margin: 20px;

        flex-flow: row nowrap;

        @media only screen and (max-width: 755px) {
            flex-flow: column nowrap;
        }
    }

    &__container-item-edit {
        position: absolute;
        z-index: 3;
        top: -13px;
        right: -5px;

        &:hover {
            transition: 0.5s;

            background-color: rgb(243, 172, 172);
        }

        &:active {
            background-color: rgb(233, 80, 80);
        }
    }
}
