.menu__list {
    display: flex;

    margin: 0;

    list-style-type: none;

    color: black;
    background-color: white;

    flex-flow: row wrap;
    &-action {
        display: block;

        padding: 20px;

        cursor: pointer;
        white-space: nowrap;
        text-decoration: none;

        color: black;

        font: 600 0.9em "Roboto", sans-serif;

        &:hover {
            border-bottom: 3px solid #f3ebdc;
        }
    }
}
