.menu {
    display: flex;

    color: white;

    flex-flow: row wrap;
    justify-content: space-between;

    &_light {
        background-color: white;
        border-bottom: 1px solid rgb(224, 224, 224);
    }
    
    &_light &__list &__list-action {
        color: rgb(31, 31, 31);
        &:hover {
            color: rgb(206, 8, 84);
        }
    }

    &__list {
        display: flex;

        margin: 0;

        list-style-type: none;

        flex-flow: row wrap;
        justify-content: flex-end;
    }


    &__list-action {
        display: block;

        padding: 20px;

        cursor: pointer;
        white-space: nowrap;
        text-decoration: none;

        color: white;

        font: 600 0.9em "Roboto", sans-serif;

        &:hover {
            color: rgb(161, 161, 167);
        }
    }

    &__logo {
        display: block;

        padding: 20px;

        cursor: pointer;
    }
}
