.uploader {
    margin: 15px 0;

// padding: 5%;

    cursor: pointer;

    color: rgb(105, 102, 102);
    border: 1px dashed gray;
    border-radius: 5px;

    &_invalid {
        border: 2px dashed rgb(182, 10, 10);
    }
}
.uploader__active-zone {
    padding: 7% 5%;

    transition: 0.5s;
    text-align: center;
    &:hover {
        color: rgb(0, 0, 0);
    }

    &_invalid {
        color: rgb(182, 10, 10);
    }
}
.uploader__aside {
    display: flex;

    padding: 2% 3% 2% 3%;

    flex-flow: row wrap;
    justify-content: space-evenly;
    &-container {
        padding: 5px;
        position: relative;
    }
    &-container-image {
        width: 100px;

        border-radius: 5px;
    }
}