.photo-item {
    .carousel.carousel-slider {
        &:hover {
            opacity: 1;

            filter: alpha(opacity=100);
        }
    }

    .slider-wrapper {
        border-radius: 5px;
    }

    .carousel-status {
        display: none;
    }

    .carousel.carousel-slider {
        border-radius: 5px;
    }

    .carousel.carousel-slider .control-arrow:nth-of-type(1):hover {
        border-radius: 5px 0 0 5px;
        background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 8%,
        rgba(0, 0, 0, 0.06) 9%,
        rgba(0, 0, 0, 0.13) 21%,
        rgba(0, 0, 0, 0.15) 25%,
        rgba(0, 0, 0, 0.59) 100%
        );
    }

    .carousel.carousel-slider .control-arrow:nth-of-type(2):hover {
        border-radius: 0 5px 5px 0;
        background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.05) 8%,
        rgba(0, 0, 0, 0.06) 9%,
        rgba(0, 0, 0, 0.13) 21%,
        rgba(0, 0, 0, 0.15) 25%,
        rgba(0, 0, 0, 0.59) 100%
        );
    }

    .slide.selected {
        border-radius: 5px 5px 5px 5px;
    }

    .carousel {
        .control-next.control-arrow {
            width: 80px;

            &:before {
                display: inline-block;

                margin-left: 30px;
                padding: 10px 4px 4px 10px;

                content: "";
                transform: rotate(-45deg);

                border: solid rgb(255, 255, 255);
                border-width: 0 2px 2px 0;

                font: 100 1em "Roboto";
            }
        }

        .control-prev.control-arrow {
            width: 80px;

            &:before {
                display: inline-block;

                margin-right: 30px;
                padding: 10px 4px 4px 10px;

                content: "";
                transform: rotate(135deg);

                border: solid rgb(255, 255, 255);
                border-width: 0 2px 2px 0;

                font: 100 1em "Roboto";
            }
        }
    }

    .slide {
        background: none;

        img {
            height: 250px;

            object-fit: cover;
        }
    }

    .thumbs-wrapper {
        display: none;
    }
}
