.user-home {
    font: 100 1em 'Roboto';

    &__hotels {
        padding: 10px;
    }

    &__hotels-header {
        display: block;

        padding: 10px 20px 0 20px;

        color: rgb(63, 62, 62);

        font: 500 2.5em 'Roboto';

        @media only screen and (max-width: 515px) {
            padding: 10px 4px;
        }
    }

    &__hotels-containers-wrapper {
        display: flex;

        flex-flow: row nowrap;
        @media only screen and (max-width: 755px) {
            flex-flow: column nowrap;
        }
    }

    &__hotels-containers-wrapper-item {
        position: relative;

        max-width: 750px;
        margin: 20px;

        @media only screen and (max-width: 515px) {
            margin: 5px;
        }
    }

    &__hotels-containers-wrapper-item-link {
        cursor: pointer;
    }
    
    &__hotels-containers-wrapper-item-name {
        display: block;

        margin: 10px 0;

        font: 500 1.1em 'Roboto';
    }
}
