.booking-details {
    margin: 0 auto 0 50px;

    @media only screen and (max-width: 515px) {
        margin: 0 5px;
    }

    &__header {
        color: rgb(75, 75, 75);

        font: 600 2em "Roboto", sans-serif;
    }

    &__header-link {
        margin-left: 10px;

        color: rgb(75, 75, 75);

        font: italic 1em "Roboto", sans-serif;

        &:hover {
            color: cadetblue;
        }
    }

    &__timer {
        display: flex;

        margin: auto 0;
        padding: 10px 0 0 0;

        border: none;
        background-color: rgb(255, 255, 255);

        align-items: center;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    &__form {
        width: 100%;
        max-width: 600px;
    }

    &__form-section {
        margin: 20px 0;

        &:not(:last-child) {
            padding-bottom: 20px;

            border-bottom: 1px solid rgb(199, 199, 199);
        }
    }

    &__form-section-inner {
        display: flex;

        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    &__form-section-header {
        display: block;

        margin: 15px 0;

        color: rgb(73, 73, 73);

        font: 600 1.2em "Roboto", sans-serif;
    }

    &__form-section-summary {
        display: inline-flex;

        margin-right: 15px;

        color: rgb(73, 73, 73);

        font: 600 1em "Roboto", sans-serif;

        align-items: center;
        justify-content: center;
    }

    &__form-section-inner-date {
        display: flex;

        width: 50px;
        height: 50px;
        padding: 5px;

        border-radius: 5px 0 0 5px;
        background-color: #f2f2f2;

        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    }

    &__form-section-inner-date-item {
        display: block;

        font-weight: 700;
        &:first-child {
            color: rgb(49, 49, 49);

            font-size: 0.8em;
        }

        &:last-child {
            color: rgb(56, 56, 56);

            font-weight: 800;
        }
    }

    &__form-section-wrapper {
        display: flex;

        flex-flow: row wrap;
    }

    &__form-section-wrapper-item {
        display: flex;

        &:last-child {
            margin-left: 10px;
            @media only screen and (max-width: 515px) {
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }

    &__form-button-submit {
        width: auto;
        padding: 15px 30px;

        align-self: end;
    }

    &__wrapper {
        display: flex;

        margin: 0 auto 0 50px;

        flex-flow: row nowrap;
        justify-content: space-around;
    }

    &__form-section-free-facilities {
        margin-top: 5px;
    }

    &__form-section-free-facilities-item {
        display: inline-block;

        margin: 5px;
        padding: 5px;

        white-space: nowrap;

        border-radius: 5px;
        background-color: rgba(97, 153, 155, 0.329);
    }
}

.facility-field {
    display: flex;

    min-height: 70px;

    align-items: center;
    justify-content: flex-start;

    &__item {
        padding: 0 10px;

        &:first-child {
            min-width: 80px;
        }

        &:last-child {
            padding-left: 5px;
        }
        
        @media only screen and (max-width: 515px) {
            padding: 0 2px;
        }
    }

    &__item-price {
        min-width: 35px;
        padding-right: 5px;

        text-align: right;
    }
}
