.booking-tab-bar {
    &__links {
        display: flex;

        margin: auto 0;
        padding: 0;

        border: none;
        background-color: rgb(255, 255, 255);

        align-items: center;

// font: 600 1em "Roboto", sans-serif;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    &__links-item {
        display: block;

        height: 30px;
        margin: 0 5px;
        padding: 10px 30px 0 30px;

        text-align: center;
        text-decoration: none;

        color: rgb(121, 121, 121);

        font: 700 1em "Roboto", sans-serif;

        &_disabled {
            pointer-events: none;

            color: rgb(192, 191, 191);
        }
    }

    &__route {
        display: flex;

        padding: 20px 0;

        font: 100 1em "Roboto", sans-serif;
    }

    .active {
        color: black;
    }
}
