@import url("https://fonts.googleapis.com/css?family=Roboto");
.button {
  display: flex;
  width: 100%;
  padding: 15px 0 15px 0;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  outline: none;
  font: 600 1em/0.5em "Roboto";
  align-items: center;
  justify-content: center;
}
.button_primary {
  transition: 0.25s;
  color: white;
  border: 2px solid #ff5a5f;
  background-color: #ff5a5f;
}
.button_primary:active {
  transition: 0.25s;
  border: 2px solid #d6464b;
  background-color: #d6464b;
}
.button_secondary {
  transition: 0.25s;
  color: white;
  border: 2px solid #007883;
  background-color: #007883;
}
.button_secondary:active {
  transition: 0.25s;
  border: 2px solid #017a85;
  background-color: #01626b;
}
.button_white {
  transition: 0.25s;
  color: #484848;
  border: 2px solid #2b2828;
  background-color: white;
}
.button_white:active {
  transition: 0.25s;
  background-color: #dddbdb;
}
.button_back {
  color: #007883;
  border: none;
  background-color: white;
  justify-content: start;
}
.button_back:hover {
  text-decoration: underline;
}
.button__text {
  line-height: 1.25em;
}
.button__icon {
  display: block;
  height: 20px;
  margin: 0 5px;
  color: white;
}@import url("https://fonts.googleapis.com/css?family=Roboto");
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 515px) {
  .modal .modal__inner {
    position: static;
    width: 100%;
    min-width: 0;
  }
}
.modal__inner {
  position: relative;
  display: flex;
  min-width: 450px;
  min-height: 280px;
  margin: 1rem;
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  flex-flow: column nowrap;
  justify-content: space-around;
  justify-self: center;
}
.modal__inner-button_close {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 50%;
  background-color: white;
}
.modal__inner-button_close:active {
  transition: 0.25s;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}.text-input {
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 4px;
  flex-flow: row nowrap;
}
.text-input_focused {
  border-color: #429699;
}
.text-input_invalid {
  border-color: #ec6415;
}
.text-input__input {
  display: flex;
  width: 100%;
  padding: 15px 10px;
  color: #484848;
  border: 0;
  border-radius: 5px;
  outline: none;
  font: 100 1em/0.5em "Roboto";
}
.text-input__icon {
  margin-right: 10px;
  color: #929292;
  align-self: center;
}
.text-input__error, .text-input__warning {
  float: left;
  padding-bottom: 15px;
  color: #ec6415;
  font-size: 0.85em;
  font-weight: 800;
}@import url("https://fonts.googleapis.com/css?family=Roboto");
.signup-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.signup-form__button {
  margin-top: 10px;
}
.signup-form__field:first-of-type {
  margin-bottom: 10px;
}
.signup-form__field {
  margin: 10px 0;
}.modal-signup__separator {
  position: relative;
  display: block;
  margin: 15px 0;
  text-align: center;
  color: gray;
}
.modal-signup__separator::before, .modal-signup__separator::after {
  position: absolute;
  top: 50%;
  width: 45%;
  height: 5px;
  content: "";
  border-top: 1px solid #d8d8d8;
}
.modal-signup__separator::before {
  left: 0;
}
.modal-signup__separator::after {
  right: 0;
}
.modal-signup__underliner {
  position: relative;
  display: block;
  margin: 15px 0;
  text-align: center;
  color: #d8d8d8;
}
.modal-signup__underliner::before, .modal-signup__underliner::after {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 5px;
  content: "";
  border-top: 1px solid #b4b4b4;
}
.modal-signup__underliner::before {
  left: 0;
}
.modal-signup__underliner::after {
  right: 0;
}
.modal-signup__switch {
  display: inline;
  cursor: pointer;
  color: #008489;
  font-weight: 600;
}
.modal-signup__switch:hover {
  text-decoration: underline;
}
.modal-signup__footer {
  margin-top: 30px;
  color: #777777;
}@import url("https://fonts.googleapis.com/css?family=Roboto");
.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.login-form__button {
  margin-top: 10px;
}
.login-form__button_email {
  transition: 0.25s;
  color: white;
  border: 2px solid #ff5a5f;
  background-color: #ff5a5f;
}
.login-form__button_email:active {
  transition: 0.25s;
  border: 2px solid #d6464b;
  background-color: #d6464b;
}
.login-form__field {
  margin: 10px 0;
}.modal-login {
  display: inline;
}
.modal-login__separator {
  position: relative;
  display: block;
  margin: 15px 0;
  text-align: center;
  color: gray;
}
.modal-login__separator::before, .modal-login__separator::after {
  position: absolute;
  top: 50%;
  width: 45%;
  height: 5px;
  content: "";
  border-top: 1px solid #d8d8d8;
}
.modal-login__separator::before {
  left: 0;
}
.modal-login__separator::after {
  right: 0;
}
.modal-login__underliner {
  position: relative;
  display: block;
  margin: 15px 0;
  text-align: center;
  color: #d8d8d8;
}
.modal-login__underliner::before, .modal-login__underliner::after {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 5px;
  content: "";
  border-top: 1px solid #b4b4b4;
}
.modal-login__underliner::before {
  left: 0;
}
.modal-login__underliner::after {
  right: 0;
}
.modal-login__switch {
  display: inline;
  cursor: pointer;
  color: #008489;
  font-weight: 600;
}
.modal-login__switch:hover {
  text-decoration: underline;
}
.modal-login__footer {
  margin-top: 30px;
  color: #777777;
}.menu__list {
  display: flex;
  margin: 0;
  list-style-type: none;
  color: black;
  background-color: white;
  flex-flow: row wrap;
}
.menu__list-action {
  display: block;
  padding: 20px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: black;
  font: 600 0.9em "Roboto", sans-serif;
}
.menu__list-action:hover {
  color: #8181e7;
}.Toastify__toast-container {
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff; }
  .Toastify__toast-container--top-left {
    top: 1em;
    left: 1em; }
  .Toastify__toast-container--top-center {
    top: 1em;
    left: 50%;
    margin-left: -160px; }
  .Toastify__toast-container--top-right {
    top: 1em;
    right: 1em; }
  .Toastify__toast-container--bottom-left {
    bottom: 1em;
    left: 1em; }
  .Toastify__toast-container--bottom-center {
    bottom: 1em;
    left: 50%;
    margin-left: -160px; }
  .Toastify__toast-container--bottom-right {
    bottom: 1em;
    right: 1em; }

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0; }
    .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
      top: 0; }
    .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
      bottom: 0; }
    .Toastify__toast-container--rtl {
      right: 0;
      left: initial; } }

.Toastify__toast {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  direction: ltr; }
  .Toastify__toast--rtl {
    direction: rtl; }
  .Toastify__toast--default {
    background: #fff;
    color: #aaa; }
  .Toastify__toast--info {
    background: #3498db; }
  .Toastify__toast--success {
    background: #07bc0c; }
  .Toastify__toast--warning {
    background: #f1c40f; }
  .Toastify__toast--error {
    background: #e74c3c; }
  .Toastify__toast-body {
    margin: auto 0;
    -ms-flex: 1;
        flex: 1; }

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0; } }

.Toastify__close-button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
      align-self: flex-start; }
  .Toastify__close-button--default {
    color: #000;
    opacity: 0.3; }
  .Toastify__close-button:hover, .Toastify__close-button:focus {
    opacity: 1; }

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0); } }

.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 9999;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.7);
  transform-origin: left; }
  .Toastify__progress-bar--animated {
    animation: Toastify__trackProgress linear 1 forwards; }
  .Toastify__progress-bar--controlled {
    transition: transform .2s; }
  .Toastify__progress-bar--rtl {
    right: 0;
    left: initial;
    transform-origin: right; }
  .Toastify__progress-bar--default {
    background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); }

@keyframes Toastify__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

@keyframes Toastify__bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

@keyframes Toastify__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

@keyframes Toastify__bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft; }

.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight; }

.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown; }

.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp; }

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft; }

.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight; }

.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp; }

.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown; }

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes Toastify__zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn; }

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut; }

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

@keyframes Toastify__flipOut {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.Toastify__flip-enter {
  animation-name: Toastify__flipIn; }

.Toastify__flip-exit {
  animation-name: Toastify__flipOut; }

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0); } }

@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0); } }

@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0); } }

@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0); } }

.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft; }

.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight; }

.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown; }

.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp; }

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft; }

.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight; }

.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp; }

.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown; }

/*# sourceMappingURL=ReactToastify.css.map */.dropdown-select {
  font: 100 1em "Roboto";
}.hotel-form {
  display: flex;
  width: 100%;
  max-width: 500px;
  font: 100 1em "Roboto";
  flex-flow: column nowrap;
}
.hotel-form__section {
  margin: 10px 0;
  font: 400 1.3em "Roboto";
}
.hotel-form__field {
  margin: 10px 0;
}.room-form {
  width: 100%;
  font: 100 1em "Roboto";
}
@media only screen and (max-width: 350px) {
  .room-form {
    font: 100 0.85em "Roboto";
  }
}
.room-form__multiple-field {
  display: flex;
  margin-top: 20px;
  flex-flow: row nowrap;
}
.room-form__field {
  margin: 10px 0;
}
.room-form__field_left {
  border-radius: 5px 0 0 5px;
}
.room-form__field_center {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.room-form__field_right {
  border-radius: 0 5px 5px 0;
}
.room-form__buttons-container {
  display: flex;
  justify-content: row wrap;
}
.room-form__buttons-container-item {
  margin-right: 5%;
}
.room-form__buttons-container-item:first-child {
  margin-right: 50%;
}
@media only screen and (max-width: 550px) {
  .room-form__buttons-container-item:first-child {
    margin-right: 20%;
  }
}
.room-form__buttons-container-item:last-child {
  margin-right: 0;
}.room-item {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc3c3;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(100, 100, 100, 0.1) 0 1px 2px;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.room-item__type {
  width: 70px;
  font-weight: 600;
}
.room-item__action {
  display: inline;
  cursor: pointer;
  color: #0838bb;
  font-weight: 600;
}
.room-item__action:hover {
  text-decoration: underline;
}.room-tab {
  width: 100%;
  max-width: 500px;
}
.room-tab__buttons-container {
  display: flex;
  margin: 5% 0;
  justify-content: row nowrap;
}
.room-tab__buttons-container-item {
  margin-right: 5%;
}
.room-tab__buttons-container-item:last-child {
  margin-right: 0;
}.checkbox-group__item [type=checkbox]:not(:checked), .checkbox-group__item [type=checkbox]:checked {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.checkbox-group__item [type=checkbox] + span:not(.lever) {
  position: relative;
  display: inline-block;
  height: 25px;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  line-height: 25px;
}
.checkbox-group__item [type=checkbox] + span:not(.lever):before, .checkbox-group__item [type=checkbox]:not(.filled-in) + span:not(.lever):after {
  position: absolute;
  z-index: 0;
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #a8a8a8;
}
.checkbox-group__item [type=checkbox] + span:not(.lever):before {
  background-color: white;
}
.checkbox-group__item [type=checkbox]:checked + span:not(.lever):before {
  background-color: transparent;
}
.checkbox-group__item [type=checkbox]:not(.filled-in) + span:not(.lever):after {
  -webkit-transform: scale(0);
  transform: scale(0);
  border: 0;
}
.checkbox-group__item [type=checkbox]:not(:checked):disabled + span:not(.lever):before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}
.checkbox-group__item [type=checkbox].tabbed:focus + span:not(.lever):after {
  -webkit-transform: scale(1);
  transform: scale(1);
  border: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}
.checkbox-group__item [type=checkbox]:checked + span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 8px;
  height: 20px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  border-top: 2px solid transparent;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.checkbox-group__item [type=checkbox]:checked:disabled + span:before {
  border-right: 2px solid rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}.service-form {
  display: flex;
  width: 100%;
  max-width: 500px;
  font: 100 1em "Roboto";
  flex-flow: column nowrap;
}
.service-form__header {
  margin: 10px 0;
  font: 900 1.5em "Roboto";
}
.service-form__section {
  margin: 10px 0;
  font: 400 1.3em "Roboto";
}
.service-form__submit {
  margin-top: 10px;
}.photo-item .carousel.carousel-slider:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
}
.photo-item .slider-wrapper {
  border-radius: 5px;
}
.photo-item .carousel-status {
  display: none;
}
.photo-item .carousel.carousel-slider {
  border-radius: 5px;
}
.photo-item .carousel.carousel-slider .control-arrow:nth-of-type(1):hover {
  border-radius: 5px 0 0 5px;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 8%, rgba(0, 0, 0, 0.06) 9%, rgba(0, 0, 0, 0.13) 21%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.59) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 8%, rgba(0, 0, 0, 0.06) 9%, rgba(0, 0, 0, 0.13) 21%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.59) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 8%, rgba(0, 0, 0, 0.06) 9%, rgba(0, 0, 0, 0.13) 21%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.59) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#96000000", endColorstr="#00ffffff",GradientType=1 );
}
.photo-item .carousel.carousel-slider .control-arrow:nth-of-type(2):hover {
  border-radius: 0 5px 5px 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 8%, rgba(255, 255, 255, 0.06) 9%, rgba(255, 255, 255, 0.13) 21%, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0.59) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 8%, rgba(255, 255, 255, 0.06) 9%, rgba(255, 255, 255, 0.13) 21%, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0.59) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 8%, rgba(0, 0, 0, 0.06) 9%, rgba(0, 0, 0, 0.13) 21%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.59) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#96000000",GradientType=1 );
}
.photo-item .slide.selected {
  border-radius: 5px 5px 5px 5px;
}
.photo-item .carousel .control-next.control-arrow {
  width: 80px;
}
.photo-item .carousel .control-next.control-arrow:before {
  display: inline-block;
  margin-left: 30px;
  padding: 10px 4px 4px 10px;
  content: "";
  transform: rotate(-45deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  font: 100 1em "Roboto";
}
.photo-item .carousel .control-prev.control-arrow {
  width: 80px;
}
.photo-item .carousel .control-prev.control-arrow:before {
  display: inline-block;
  margin-right: 30px;
  padding: 10px 4px 4px 10px;
  content: "";
  transform: rotate(135deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  font: 100 1em "Roboto";
}
.photo-item .slide {
  background: none;
}
.photo-item .slide img {
  height: 250px;
  object-fit: cover;
}
.photo-item .thumbs-wrapper {
  display: none;
}.carousel .control-arrow,.carousel.carousel-slider .control-arrow{-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in;opacity:.4;position:absolute;z-index:2;top:20px;background:0 0;border:0;font-size:32px;cursor:pointer}.carousel .control-arrow:hover{opacity:1}.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}.carousel .control-disabled.control-arrow{opacity:0;cursor:inherit;display:none}.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}.carousel{position:relative;width:100%}.carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.carousel img{width:100%;display:inline-block;pointer-events:none}.carousel .carousel{position:relative}.carousel .control-arrow{outline:0;border:0;background:0 0;top:50%;margin-top:-13px;font-size:18px}.carousel .thumbs-wrapper{margin:20px;overflow:hidden}.carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;width:80px;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb:focus{border:3px solid #ccc;outline:0}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center;background:#000}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:.25;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;text-align:center;width:100%}@media (min-width:960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;box-shadow:1px 1px 2px rgba(0,0,0,.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1}.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,.9);color:#fff}.carousel:hover .slide .legend{opacity:1}.photo-form__buttons-container {
  display: flex;
  justify-content: row wrap;
}
.photo-form__buttons-container-item {
  margin-right: 5%;
}
.photo-form__buttons-container-item:first-child {
  margin-right: 50%;
}
@media only screen and (max-width: 550px) {
  .photo-form__buttons-container-item:first-child {
    margin-right: 20%;
  }
}
.photo-form__buttons-container-item:last-child {
  margin-right: 0;
}
.photo-form__uploader {
  margin: 15px 0;
  cursor: pointer;
  color: #696666;
  border: 1px dashed gray;
  border-radius: 5px;
}
.photo-form__uploader-active-zone {
  padding: 7% 5%;
  transition: 0.5s;
  text-align: center;
}
.photo-form__uploader-active-zone:hover {
  color: black;
}
.photo-form__uploader-aside {
  display: flex;
  padding: 0 3% 2% 3%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.photo-form__uploader-aside-container {
  padding: 5px;
}
.photo-form__uploader-aside-container-image {
  width: 100px;
  border-radius: 5px;
}.photo-tab {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-flow: column nowrap;
  justify-content: center;
}
.photo-tab__photo-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding-top: 15px;
  flex-flow: column nowrap;
}
.photo-tab__photo-container-delete {
  position: absolute;
  z-index: 10;
  top: -3px;
  left: -10px;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}
.photo-tab__photo-container-delete:active {
  transition: 0.25s;
  background-color: #e95050;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}
.photo-tab__photo-container-type {
  display: block;
  margin: 10px 0;
  font: 500 1.5em "Roboto";
}
.photo-tab__buttons-container {
  display: flex;
  margin-bottom: 10px;
  justify-content: row wrap;
}
.photo-tab__buttons-container-item {
  margin-right: 5%;
}
.photo-tab__buttons-container-item:last-child {
  margin-right: 0;
}.finish-tab {
  width: 100%;
}
.finish-tab__banner {
  display: flex;
  padding: 20px;
  flex-flow: row nowrap;
}
.finish-tab__banner-info {
  display: flex;
  margin-right: 2%;
  padding: 50px;
  letter-spacing: 1px;
  background-color: #f3f3f3;
  align-content: center;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.finish-tab__banner-info-sity {
  display: block;
  color: #818181;
  font: 700 1em "Roboto";
}
.finish-tab__banner-info-name {
  display: block;
  margin: 40px 0;
  color: #3f3e3e;
  font: 500 2.5em "Roboto";
}
.finish-tab__banner-image-container {
  flex: auto;
}
.finish-tab__banner-image-container-item {
  width: 100%;
  min-height: 600px;
  max-height: 700px;
  object-fit: cover;
}
.finish-tab__overview {
  padding: 20px;
  font: 500 1.25em "Roboto";
}
.finish-tab__tour-header {
  display: block;
  padding: 10px 20px;
  color: #3f3e3e;
  font: 500 2.5em "Roboto";
}
.finish-tab__tour-gallery {
  display: flex;
  padding: 10px;
  flex-flow: row wrap;
}
@media only screen and (max-width: 515px) {
  .finish-tab__tour-gallery {
    margin: 10px;
  }
}
.finish-tab__tour-gallery-item {
  max-width: 350px;
  padding: 10px;
}
.finish-tab__tour-gallery-item-category {
  display: block;
  margin: 10px 0;
  font: 500 1.5em "Roboto";
}
.finish-tab__facilities-header {
  display: block;
  padding: 10px 20px;
  color: #3f3e3e;
  font: 500 2.5em "Roboto";
}
.finish-tab__facilities-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.finish-tab__facilities-container-item {
  flex: auto;
  max-width: 200px;
  margin: 20px;
  background: #e7e7e7;
  flex-flow: column nowrap;
}
.finish-tab__facilities-container-item-image {
  display: block;
  width: 100%;
  max-width: 200px;
  object-fit: cover;
}
.finish-tab__facilities-container-item-facility {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #3f3f3f;
}
.finish-tab__photo-container {
  flex: auto;
}
.finish-tab__photo-container-item {
  width: 100%;
  min-height: 600px;
  max-height: 700px;
  object-fit: cover;
}
.finish-tab__submit {
  max-width: 200px;
  margin: 10px 10px 10px auto;
}.tab-bar__links {
  display: flex;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: gainsboro;
  font: 100 1em "Roboto";
  flex-flow: row wrap;
  justify-content: center;
}
.tab-bar__links-item {
  display: block;
  height: 30px;
  margin: 0 5px;
  padding: 10px 30px 0 30px;
  text-align: center;
  text-decoration: none;
  color: #9e9898;
  border-bottom: 4px solid #02a7b6;
  font-weight: 400;
}
.tab-bar__links-item_disabled {
  pointer-events: none;
  border-bottom: 4px solid #cadddf;
}
.tab-bar__route {
  display: flex;
  padding: 20px 0 0 0;
  font: 100 1em "Roboto";
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}
@media only screen and (max-width: 515px) {
  .tab-bar__route {
    margin: 10px;
  }
}
.tab-bar .active {
  color: black;
  border-bottom: 4px solid #015f68;
}.admin-home {
  font: 100 1em "Roboto";
}
.admin-home__link {
  text-align: center;
  text-decoration: none;
  color: #9e9898;
  font-weight: 400;
}
.admin-home__activity {
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid #ebebeb;
}
.admin-home__activity-image {
  width: 96px;
  height: 64px;
  margin: 0 10px;
  background-image: url("https://a0.muscache.com/pictures/acbbe4a6-18b3-4c73-a7f6-891dbdb4d97b.jpg");
  background-size: cover;
}
.admin-home__activity-link {
  text-align: center;
  text-decoration: none;
  color: #444343;
  font-weight: 400;
  align-self: center;
}/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;

    font: inherit;
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("icomoon.d508289f.eot?secj8i");
  src: url("icomoon.d508289f.eot?secj8i#iefix") format("embedded-opentype"), url("icomoon.96dfc248.ttf?secj8i") format("truetype"), url("icomoon.717afbcb.woff?secj8i") format("woff"), url("icomoon.d32b1b35.svg?secj8i#icomoon") format("svg");
}
[class^=icon-],
[class*=" icon-"] {
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-coin-dollar:before {
  content: "";
}

body {
  margin: 0 auto;
}