.text-input {
    display: flex;

    margin: 10px 0;

    border: 1px solid rgb(146, 146, 146);
    border-radius: 4px;

    flex-flow: row nowrap;
    &_focused {
        border-color: rgb(66, 150, 153);
    }
    &__input {
        display: flex;

        width: 100%;
        padding: 15px 2%;

        color: #484848;
        border: 0;
        border-radius: 5px;
        outline: none;

        font: 100 1em/0.5em "Roboto";
    }
    &__icon {
        margin-right: 10px;

        color: rgb(146, 146, 146);

        align-self: center;
    }
}
