.hotel-tab {
    display: flex;

    width: 100%;

    justify-content: center;

    @media only screen and (max-width: 515px) {
        margin: 10px;
    }

    &__form {
        display: flex;

        width: 100%;
        max-width: 500px;

        font: 100 1em "Roboto";

        flex-flow: column nowrap;
    }

    &__form-section {
        display: block;

        margin: 10px 0;

        font: 400 1.3em "Roboto";
    }

    &__form-field {
        margin: 10px 0;
    }
}

