.payload-tab {
    &__header {
        display: block;

        margin-bottom: 10px;

        color: rgb(75, 75, 75);

        font: 600 2em "Roboto", sans-serif;
    }

    &__summary {
        display: block;

        margin-bottom: 10px;
    }
}