.dropdown {
    position: relative;
    z-index: 6;

    &__shadow {
        position: fixed;
        z-index: 2;
        right: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(255, 255, 255, 0.425);
    }
}
