.modal-booking {
    min-width: 100px;
    max-height: 85%;

    @media only screen and (max-width: 415px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow-y: scroll;

        height: 100%;
    }

    &__date-pickers {
        padding: 5px 0;

        border: 1px solid rgb(221, 221, 221);
        border-radius: 5px;
    }
}
