.day-picker-dual-input {
    display: flex;

    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;

    &__item_to &__item-overlay {
        margin-left: -195px;

        @media only screen and (max-width: 615px) {
            margin-left: -140px;
        }
    }

    &__item-overlay {
        width: 370px;

        @media only screen and (max-width: 615px) {
            width: auto;
        }
    }

    &__item input {
        width: 155px;
        margin: 0 5px;
        padding: 5px;

        text-align: center;

        color: rgb(66, 66, 66);
        border: none;

        font: 300 1em "Roboto", sans-serif;

        @media only screen and (max-width: 615px) {
            width: 100px;
        }

        &:focus {
            color: rgb(241, 241, 241);
            border-radius: 5px;
            outline: none;
            background-color: #68314b;
        }
    }

    &__calendar-day {
        padding: 0.7em;

        border: 1px solid rgb(240, 239, 239);
        border-radius: 0;

        @media only screen and (max-width: 615px) {
            padding: 7px;
        }
    }

    &__calendar-day_selected:not(&__calendar-day_disabled):not(&__calendar-day_outside) {
        color: #f0f8ff;
        background-color: #914669;
        &:hover {
            background-color: #68314b;
        }
    }
}
