.finish-tab {
    width: 100%;

    &__banner {
        display: flex;

        padding: 20px;

        flex-flow: row nowrap;
    }

    &__banner-info {
        display: flex;

        width: 70%;
        margin-right: 2%;
        padding: 50px;

        letter-spacing: 1px;

        background-color: rgb(243, 243, 243);

        align-content: center;
        flex-flow: column nowrap;
        justify-content: flex-start;

        &-sity {
            display: block;

            color: rgb(129, 129, 129);

            font: 700 1em "Roboto";
        }

        &-name {
            display: block;

            margin: 40px 0;

            color: rgb(63, 62, 62);

            font: 500 2.5em "Roboto";
        }
    }

    &__banner-image-container {
        flex: auto;

        &-item {
            width: 100%;
            min-height: 600px;
            max-height: 700px;

            object-fit: cover;
        }
    }

    &__overview {
        padding: 20px;

        font: 500 1.25em "Roboto";
    }

    &__tour {
        &-header {
            display: block;

            padding: 10px 20px;

            color: rgb(63, 62, 62);

            font: 500 2.5em "Roboto";
        }

        &-gallery {
            display: flex;

            padding: 10px;

            flex-flow: row wrap;

            @media only screen and (max-width: 515px) {
                margin: 10px;
            }
        }

        &-gallery-item {
            max-width: 350px;
            padding: 10px;
        }

        &-gallery-item-categoty {
            display: block;

            margin: 10px 0;

            color: rgb(63, 62, 62);

            font: 500 1.5em "Roboto";
            ;
        }
    }

    &__facilities {
        &-header {
            display: block;

            padding: 10px 20px;

            color: rgb(63, 62, 62);

            font: 500 2.5em "Roboto";
        }

        &-container {
            display: flex;

            flex-flow: row wrap;
            justify-content: flex-start;
        }

        &-container-item {
            flex: auto;

            max-width: 200px;
            margin: 20px;

            background: rgb(231, 231, 231);

            flex-flow: column nowrap;
        }

        &-container-item-image {
            display: block;

            width: 100%;
            max-width: 200px;

            object-fit: cover;
        }

        &-container-item-facility {
            display: block;

            padding: 10px 0;

            text-align: center;

            color: rgb(63, 63, 63);
        }
    }

    &__photo-container {
        flex: auto;

        &-item {
            width: 100%;
            min-height: 600px;
            max-height: 700px;

            object-fit: cover;
        }
    }

    &__submit {
        max-width: 200px;
        margin: 10px 10px 10px auto;
    }
}
