.hotel-form {
    display: flex;

    max-width: 500px;
    margin: 5% auto 0 auto;

    font: 100 1em "Roboto";

    flex-flow: column nowrap;
    &__section {
        font: 400 1.3em "Roboto";
        margin: 10px 0;
    }
    &__field {
        margin: 10px 0;
    }
}