.tabBar {
    display: flex;

    width: 100%;
    margin: 0 auto;
    padding: 0;

    border: none;

    &__tab {
        display: block;

        width: 150px;
        height: 30px;
        margin: 0 5px;
        padding: 20px 30px 10px 30px;

        text-align: center;
        text-decoration: none;

        color: black;
        border-bottom: 4px solid blue;

        font-weight: 400;
    }

    .active {
        border-bottom: 4px solid rgb(9, 223, 238);
        background-color: rgb(230, 229, 227);
    }
}
