@import "../admin-home/admin-home.scss";

.room-tab {
    &__inner {
        display: flex;

        margin: 5% 0;

        justify-content: row nowrap;
    }
    &__inner-button {
        @include secondary-button;

        &:first-child {
            margin-right: 5%;
        }
    }
    &__inner-button_submit {
        @include primary-button;
    }
    &__switch {
        display: inline;

        cursor: pointer;

        color: #5e6c6d;

        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
}
