.room-tab {
    display: flex;

    width: 100%;

    justify-content: center;

    @media only screen and (max-width: 515px) {
        margin: 10px;
    }

    &__content {
        width: 100%;
        max-width: 500px;
    }

    &__content-buttons-container {
        display: flex;

        margin: 5% 0;

        justify-content: row nowrap;
    }

    &__content-buttons-container-item {
        margin-right: 5%;

        &:last-child {
            margin-right: 0;
        }
    }
}
