@import "../admin-home/admin-home.scss";

.room-form {
    width: 100%;

    font: 100 1em "Roboto";

    &__multiple-field {
        display: flex;

        flex-flow: row nowrap;
    }
    &__field {
        margin: 10px 0;
        &_left {
            border-radius: 5px 0 0 5px;
        }
        &_center {
            border-right: 0;
            border-left: 0;
            border-radius: 0;
        }
        &_right {
            border-radius: 0 5px 5px 0;
        }
    }
    &__submit {
        @include primary-button;
    }
}
