.room-form {
    width: 100%;

    font: 100 1em "Roboto";

    @media only screen and (max-width: 350px) {
        font: 100 0.85em "Roboto";
    }

    &__multiple-field {
        display: flex;

        margin-top: 20px;

        flex-flow: row nowrap;
    }

    &__field {
        margin: 10px 0;

        &_left {
            border-radius: 5px 0 0 5px;
        }

        &_center {
            border-right: 0;
            border-left: 0;
            border-radius: 0;
        }

        &_right {
            border-radius: 0 5px 5px 0;
        }

        input[type=number]::-webkit-inner-spin-button {
            appearance: none;
        }
        input[type=number] {
            appearance: textfield;
        }
    }

    &__buttons-container {
        display: flex;

        justify-content: row wrap;
    }

    &__buttons-container-item {
        margin-right: 5%;
        &:first-child {
            margin-right: 50%;
            @media only screen and (max-width: 550px) {
                margin-right: 20%;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
