.counter {
    display: flex;

    min-width: 100px;

    align-items: center;
    justify-content: space-between;

    &__button {
        display: flex;

        width: 32px;
        height: 32px;

        cursor: pointer;
        transition: 0.25s;

        color: darkcyan;
        border: 1px solid darkcyan;
        border-radius: 50%;
        outline: none;
        background-color: white;

        justify-content: center;

        &_disabled {
            color: rgba(0, 139, 139, 0.247);
            border: 1px solid rgba(0, 139, 139, 0.247);
        }

        &:active {
            transition: 0.25s;

            border: 2px solid darkcyan;
            box-shadow: rgba(0, 0, 0, 0.16) 0 2px 2px, rgba(0, 0, 0, 0.23) 0 2px 2px;
        }
    }

    &__button-sign {
        display: inline-flex;

        min-height: 10px;

        font: 800 1.3em "Roboto";

        align-items: center;
    }

    &__value {
        color: rgb(59, 59, 59);

        font: 500 1em "Roboto";
    }
}
