.admin-home {
    font: 100 1em "Roboto";
    
    &__link {
        text-align: center;
        text-decoration: none;

        color: rgb(158, 152, 152);

        font-weight: 400;
    }

    &__activity {
        display: flex;

        padding: 24px 0;

        border-bottom: 1px solid #ebebeb;
    }

    &__activity-image {
        width: 96px;
        height: 64px;
        margin: 0 10px;

        background-image: url("https://a0.muscache.com/pictures/acbbe4a6-18b3-4c73-a7f6-891dbdb4d97b.jpg");
        background-size: cover;
    }

    &__activity-link {
        text-align: center;
        text-decoration: none;

        color: rgb(68, 67, 67);

        font-weight: 400;

        align-self: center;
    }
}
