@import url("https://fonts.googleapis.com/css?family=Roboto");

.button {
    display: flex;

    padding: 15px 0 15px 0;

    cursor: pointer;
    text-decoration: none;

    border: 0;
    border-radius: 5px;
    outline: none;

    font: 600 1em/0.5em "Roboto";

    align-items: center;
    justify-content: center;

    &__text {
        line-height: 1.25em;
    }
    &__icon {
        display: block;

        height: 20px;
        margin: 0 5px;

        color: white;
    }

    &-google {
        color: rgb(72, 72, 72);
        border: 2px solid rgb(43, 40, 40);
        background-color: white;
        &:active {
            transition: 0.25s;

            background-color: rgb(221, 219, 219);
        }
    }

    &-email {
        transition: 0.25s;

        color: white;
        border: 2px solid rgb(255, 90, 95);
        background-color: rgb(255, 90, 95);

        &:active {
            transition: 0.25s;

            border: 2px solid rgb(214, 70, 75);
            background-color: rgb(214, 70, 75);
        }
    }

    &-close {
        width: 40px;
        height: 40px;
        padding: 0;

        cursor: pointer;
        transition: 0.25s;

        border-radius: 50%;
        background-color: white;

        &:active {
            transition: 0.25s;

            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
        }
    }
}
