.dropdown-content {
    &__panel {
        position: absolute;
        z-index: 7;

        display: flex;

        margin-top: 10px;

        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    }

    &__button {
        margin: 0 5px;
        padding: 5px;

        border: 1px solid rgb(219, 219, 219);
        border-radius: 7px;

        font-size: 0.85em;
        font-weight: 100;

        &:active {
            border-width: 1px;
        }
    }
}
