.filter-panel {
    position: sticky;
    z-index: 4;
    top: 64px;
   
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: white;

    &__parameters {
        display: flex;

        margin-left: 20px;
        padding: 8px 0;

        flex-flow: row nowrap;

        @media only screen and (max-width: 515px) {
            margin-left: 0;
        }
    }

    &__parameters-item {
        margin: auto 5px;
    }
}
