.filter-panel {
    position: sticky;
    z-index: 4;
    top: 59px;

    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: white;

    &__parameters {
        display: flex;

        padding: 15px 0;

        flex-flow: row nowrap;
    }

    &__parameters-item {
        margin: 0 5px;
    }
}
