@import url("https://fonts.googleapis.com/css?family=Roboto");

.signup-form {
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;
    &__input {
        margin: 10px 0;
    }
    &__button-submit {
        display: block;

        margin: 8px 0;
        padding: 18px 0 18px 0;

        cursor: pointer;

        border: 0;
        border-radius: 5px;
        outline: none;

        font: 600 1em/0.5em "Roboto";
        &_email {
            transition: 0.25s;

            color: white;
            border: 2px solid rgb(255, 90, 95);
            background-color: rgb(255, 90, 95);
            &:active {
                transition: 0.25s;

                border: 2px solid rgb(214, 70, 75);
                background-color: rgb(214, 70, 75);
            }
        }
    }
}
