@import url("https://fonts.googleapis.com/css?family=Roboto");

.signup-form {
    display: flex;

    flex-flow: column nowrap;
    justify-content: center;

    &__submit {
        margin-top: 10px;
    }
    &__field:first-of-type {
        margin-bottom: 10px;
    }
    &__field {
        margin: 10px 0;
    }
}
