.switch-input {
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 74px;
    height: 22px;
    padding: 0;

    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    vertical-align: middle;

    border: 1px solid #cfcfcf;
    border-radius: 20px 20px;
    background-color: #cfcfcf;

    line-height: 20px;

    &-inner {
        position: absolute;
        top: 0;

        color: #ffffff;

        font-size: 12px;
    }

    &:after {
        position: absolute;
        top: 1px;
        left: 2px;

        width: 18px;
        height: 18px;

        content: " ";
        cursor: pointer;
        transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
        transform: scale(1);
        animation-name: rcSwitchOff;
        animation-duration: 0.3s;
        animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);

        border-radius: 50% 50%;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    }

    &:hover:after {
        transform: scale(1.1);
        animation-name: rcSwitchOn;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #d5f1fd;
    }

    &-checked {
        border: 1px solid #007883;
        background-color: #007883;
    }

    &-checked &-inner {
        left: 6px;
    }

    &-checked:after {
        left: 52px;
    }

    &-label {
        display: inline-block;

        padding-left: 10px;

        user-select: text;
        vertical-align: middle;
        white-space: normal;
        pointer-events: none;

        font-size: 14px;
        line-height: 20px;
    }
}

@keyframes rcSwitchOn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes rcSwitchOff {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
