.photo-tab {
    display: flex;

    width: 100%;

    justify-content: center;

    @media only screen and (max-width: 515px) {
        margin: 10px;
    }

    &__content {
        display: flex;

        width: 100%;
        max-width: 500px;

        flex-flow: column nowrap;
    }

    &__content-photo-container {
        position: relative;

        display: flex;

        margin: 0 auto;
        padding-top: 15px;

        flex-flow: column nowrap;
    }

    &__content-photo-container-delete {
        position: absolute;
        z-index: 3;
        top: -3px;
        left: -10px;

        &:active {
            background-color: rgb(233, 80, 80);
        }
    }

    &__content-photo-container-type {
        display: block;

        margin: 10px 0;

        font: 500 1.5em "Roboto";
    }

    &__content-buttons-container {
        display: flex;

        margin-bottom: 10px;

        justify-content: row wrap;
    }

    &__content-buttons-container-item {
        margin-right: 5%;

        &:last-child {
            margin-right: 0;
        }
    }
}
