@import "../auth-page/auth-page.scss";

.modal-login {
    display: inline;
    &__button {
        &_google {
            color: rgb(72, 72, 72);
            border: 2px solid rgb(43, 40, 40);
            background-color: white;
            &:active {
                transition: 0.25s;

                background-color: rgb(221, 219, 219);
            }
        }
    }
    &__separator {
        @include separator;
    }

    &__underliner {
        @include underliner;
    }

    &__switch {
        @include switch;
    }

    &__footer {
        margin-top: 30px;

        color: #777777;
    }
}
