.modal-login {
    &__button {
        &_google {
            color: rgb(72, 72, 72);
            border: 2px solid rgb(43, 40, 40);
            background-color: white;
            &:active {
                transition: 0.25s;
    
                background-color: rgb(221, 219, 219);
            }
        }
    }
    &__separator {
        position: relative;

        display: inline-block;

        margin: 15px 0;

        text-align: center;

        color: rgb(128, 128, 128);
        &::before,
        &::after {
            position: absolute;
            top: 50%;

            width: 45%;
            height: 5px;

            content: "";

            border-top: 1px solid rgb(216, 216, 216);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }

    &__underliner {
        position: relative;

        display: inline-block;

        margin: 15px 0;

        text-align: center;

        color: rgb(216, 216, 216);

        &::before,
        &::after {
            position: absolute;
            top: 50%;

            width: 50%;
            height: 5px;

            content: "";

            border-top: 1px solid rgb(180, 180, 180);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }

    &__switch {
        display: inline;

        cursor: pointer;

        color: #008489;

        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }

    &__footer {
        color: #777777;
    }
}
